@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin:0px;
    font-family: 'Times New Roman', Arial, sans-serif;
    background-color: whitesmoke;
    color: black;
    font-size: 1.2rem;
    height: 130%;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

.navbar {
    background-color: darkcyan !important; 
}

.navbar a {
    color: white !important;
    font-weight: bold;
}

.dropdown-menu {
    background-color: darkcyan !important; 
}

.dropdown-menu .dropdown-item {
    color: white !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: lightblue !important;
    color: black !important;
}

.carousel-inner img {
    height: 85vh; 
    object-fit: cover; 
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.btn-success {
    background-color: darkblue;
    border: none;
}

.btn-success:hover {
    background-color: blue;
}

.btn-primary {
    background-color: darkblue;
    border: none;
}

.btn-primary:hover {
    background-color: blue;
}

footer {
    background-color: darkcyan; 
    color: white; 
    margin-top: auto;
}

footer a {
    margin: 0 15px;
    text-decoration: none;
}

footer a img {
    transition: transform 0.3s ease;
}

footer a:hover img {
    transform: scale(1.1); 
}

footer p {
    margin-top: 10px; 
    font-size: 1rem;
}

h1, h2{
    font-weight: bold;
}

.custom-img {
    width: 400px;  
    height: 400px; 
    object-fit: cover; 
    border-radius: 50%; 
}

.col-12.col-md-6 picture img {
    border-radius: 12px; 
    overflow: hidden; 
}

.d-flex.flex-column.flex-md-row-reverse.my-4.row {
    margin: 0 auto;
    padding: 20px;
}

.p-5.col-12.col-md-6{
    background-color: transparent;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.informacion.p-5.mx-3 {
    background-color: transparent;
    border-radius: 12px;
    padding: 40px; 
    margin: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

